@import './fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
input {
  font-size: inherit;
  font-style: inherit;
  text-rendering: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  line-height: inherit;
  background-color: inherit;
  border: none;
  user-select: none;
}

.wrapper {
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
